<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart.rinoiot.upush">

    <application>
        <!-- 离线点击通知栏消息进入的指定页面 -->
        <activity
            android:name="com.smart.rinoiot.upush.mfr.MfrMessageActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:path="/thirdpush"
                    android:scheme="agoo" />
            </intent-filter>
        </activity>
        <service
            android:name="com.smart.rinoiot.upush.manager.MyCustomMessageService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.smart.rinoiot.upush.manager.MyCustomNotificationClickActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 魅族 start-->
        <!--push应用定义消息receiver声明 -->
        <receiver
            android:name="com.smart.rinoiot.upush.mfr.MfrMzMessageReceiver"
            android:exported="true">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- 魅族 end-->

        <!-- VIVO厂商通道 start-->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="d75842f5-9514-4263-ae0e-0ec554eded11" />
        <!--            android:value="此处改为VIVO后台真实参数" />-->
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="105574370" />
        <!--            android:value="此处改为VIVO后台真实参数" />-->
        <!-- VIVO厂商通道 end-->

        <!-- HUAWEI厂商通道 start-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=106659207" />
        <!--            android:value="appid=此处改为HUAWEI后台真实参数" />-->
        <!-- HUAWEI厂商通道 end-->

        <!-- 厂商通道 Android 12 兼容 Start -->
        <service
            android:name="com.heytap.msp.push.service.DataMessageCallbackService"
            android:exported="true" />
        <service
            android:name="com.heytap.msp.push.service.CompatibleDataMessageCallbackService"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:exported="false" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:exported="false" />

        <receiver
            android:name="org.android.agoo.vivo.PushMessageReceiverImpl"
            android:exported="true" />
        <!-- 厂商通道 Android 12 兼容 End -->


        <service
            android:name=".fcm.AgooFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>